!!!
%html.no-js{:lang => ""}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Cepora!
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}
    / Place favicon.ico in the root directory
    %link{:href => "css/main.css", :rel => "stylesheet"}
    %script{:src => "js/modernizr-2.8.3.min.js"}
  %body
    /[if lt IE 8]
      %p.browserupgrade 
        You are using an 
        %strong outdated
        browser. Please 
        %a{ :href => "http://browsehappy.com/"} upgrade your browser
        to improve your experience
    / Add your site or application content here

    / .top
    /   .container
    /     .row
    /       .col-lg-3.col-md-3.col-sm-4.col-xs-9
    /         %h1.top-logo Cepora

    .nav-box
      
      .navbar
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#main-navbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Меню
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand.nav-logo{:href => '#', :title => ''} Cepora

          #main-navbar.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "#", :title => ''}
                  Каталог
                  %span.sr-only (текущая)
              %li
                %a{:href => "#", :title => ''} 
                  Оплата и доставка
                  %span.sr-only (текущая)
              %li
                %a{:href => "#", :title => ''}
                  Отзывы
                  %span.sr-only (текущая)
              %li
                %a{:href => "#", :title => ''}
                  Контакты
                  %span.sr-only (текущая)
                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

    %header.section.header
      .container
        .row
          .col-md-12.section-title
            %h2 Энергетические браслеты
            %p от производителя


    %section.mangirl
      .container
        .row
          .mangirl-left.col-md-6.col-sm-6.col-xs-12
            .mangirl-left-img
            .section-title
              %h3 Для Мужчин
              %p 
                Основной компонент — турмалин влияниет на эректильную функцию. Мужской 
                %span.text-bold потенциал возрастет в разы,
                без использования таблеток и БАДов!
              %a.btn.btn-lg.btn-border{ :href => '#', :title => '' } Подробнее


          .mangirl-right.col-md-6.col-sm-6.col-xs-12
            .mangirl-right-img
            .section-title
              %h3 Для Женщин
              %p Благоприятно влияет на организм, увеличивает сопротивляемость заболеваниям, способствуют похудению, помогает улучшать спортивные результаты.
              %a.btn.btn-lg.btn-border{ :href => '#', :title => '' } Подробнее


    %section.about
      .container
        .row
          .col-md-12.section-title
            %h3 8 причин купить браслет
            %p &nbsp;

          .col-md-6.col-sm-6.col-xs-12.about-left
            .about-box.clearfix
              .about-box-icon.fa.fa-battery-3
              .about-box-text
                %h4 Повышает выносливость
                / %p Поддержать жизненные силы на должном уровне
                %p Вулканический пепел и турмалин оптимизируют и усиливают энергию человеческого организма, направляя её именно в те органы, которые наиболее в этом нуждаются, что придаёт сил и энергии


            .about-box.clearfix
              .about-box-icon.fa.fa-shield
              .about-box-text
                %h4 Улучшают иммунитет
                / %p Поддержать жизненные силы на должном уровне
                %p Кристаллы турмалина — природного минерала, способны поглощать вредные микроволны, которые провоцируют стрессы и болезни

            .about-box.clearfix
              .about-box-icon.fa.fa-heartbeat
              .about-box-text
                %h4 Оздоравливает организм
                %p Турмалин способен испускать лучи инфракрасного спектра, которые проникают глубоко в организм, активируя его защитные функции и обеспечивая оздоровление всех без исключения органов на клеточном уровне

            .about-box.clearfix
              .about-box-icon.fa.fa-balance-scale
              .about-box-text
                / %h4 Восстанавливает и поддерживает энергетический баланс
                %h4 Контролирует баланс
                %p Энергетические вибрации турмалина идентичны микроволнам человеческого тела, и именно поэтому они способны стимулировать энергетические потоки в организме

          .col-md-6.col-sm-6.col-xs-12.about-right

            .about-box.clearfix
              .about-box-icon.fa.fa-check
              .about-box-text
                %h4 Cпособствуют похудению
                %p Турмалин вырабатывают отрицательно заряженные ионы, ускоряет метаболизм и помогает снизить аппетит, что позволяет постепенно привести в норму вес и улучшить самочувствие

            .about-box.clearfix
              .about-box-icon.fa.fa-smile-o
              .about-box-text
                %h4 Устраняет головные боли
                %p Две миларовых голограммы, которые взаимодействуют с электромагнитным полем человека, повышают положительные мозговые частоты 

            .about-box.clearfix
              .about-box-icon.fa.fa-thumbs-o-up
              .about-box-text
                %h4 Нормализует нервную систему
                %p Ношение браслета крайне благотворно влияет на психику человека, способствует улучшению энергетики носителя, что в конечном итоге приводит к положительным изменениям в качестве жизни

            .about-box.clearfix
              .about-box-icon.fa.fa-recycle
              .about-box-text
                %h4 Выводит токсины
                %p Высокопрочный экологически чистый силикон, который является основой браслета, содержит в своём составе высокий процент вулканического пепла — одного из самых лучших природных абсорбентов, вытягивающий из организма шлаки и токсины

        .row
          .col-md-12.about-btn
            %a.btn.btn-lg.btn-border.btn-border-red{ :href => '#', :title => '' } Оставить заявку    


    %section.wiki
      .container
        .row
          .col-md-12.section-title
            %h3 Биомагнитное поле
            %p 
              Каждый человек (организм) окружен биомагнитным полем, которое защищает его от воздействия агрессивных факторов окружающей среды. Но современный ритм жизни с его постоянными стрессами, несбалансированным питанием и загрязненной экологией выливается в истощение защитного экрана — того самого биомагнитного поля.
            %p
              Как результат — биологические структуры организма подвергаются энергетическому ослаблению. Это ведет к изнашиванию ораганизма, преждевременному старению и недовыработке клетками необходимой энергии.


    %section.team
      .container
        .team-slider
          .team-img
            .team-img-wrap
              %div
                %img{:alt => "", :src => "img/item/pure/red-black.jpg"}
            .team-img-wrap
              %div
                %img{:alt => '', :src => "img/item/pure/white-gray.jpg"}
            .team-img-wrap
              %div
                %img{:alt => '', :src => "img/item/pure/white-gray.jpg"}
            .team-img-wrap
              %div
                %img{:alt => '', :src => "img/item/pure/white-gray.jpg"}

          .col-xs-12.col-sm-7.col-sm-offset-5.col-md-6.col-md-offset-6.col-lg-7.col-lg-offset-5
            .team-text
              .team-text-inner
                %h4.team-name Мрамор
                %h6.sub-info др.-греч. μάρμαρος — «белый или блестящий камень»
                .team-text
                  Мрамор прекрасно
                  %span.bold устойчивость к теплу, влажности и большим нагрузкам
                  делает материал идеальным для изготовления подоконников, столешниц, моек и барных стоек.
                .clearfix

              .team-text-inner
                %h4.team-name Кварц
                %h6.sub-info нем. Quarz
                .team-text
                  Кварц
                  %span.bold положительно влияет на грудную клетку
                  и
                  %span.bold органы дыхания
                  Считается, что если держать при себе изделие из кварца, это значительно облегчает течение простудных заболеваний.
                  %span.bold кварцевая вода
                  Ее получают путем настаивания воды на кварце или пропусканием обычной воды через фильтр из специальной смеси различных видов кварца.
                .clearfix

              .team-text-inner
                %h4.team-name Кварц
                %h6.sub-info нем. Quarz
                .team-text
                  Кварц
                  %span.bold положительно влияет на грудную клетку
                  и
                  %span.bold органы дыхания
                  Считается, что если держать при себе изделие из кварца, это значительно облегчает течение простудных заболеваний.
                  %span.bold кварцевая вода
                  Ее получают путем настаивания воды на кварце или пропусканием обычной воды через фильтр из специальной смеси различных видов кварца.
                .clearfix

              .team-text-inner
                %h4.team-name Кварц
                %h6.sub-info нем. Quarz
                .team-text
                  Кварц
                  %span.bold положительно влияет на грудную клетку
                  и
                  %span.bold органы дыхания
                  Считается, что если держать при себе изделие из кварца, это значительно облегчает течение простудных заболеваний.
                  %span.bold кварцевая вода
                  Ее получают путем настаивания воды на кварце или пропусканием обычной воды через фильтр из специальной смеси различных видов кварца.
                .clearfix

          .team-wrap
            %span.arrow-left
              %i.fa.fa-chevron-left
            %span.arrow-right
              %i.fa.fa-chevron-right



    %section.steps
      .container
        .row
          .col-md-4.section-title
            %h3 Как мы работаем
          .col-md-8
            .row  
              .col-md-3.steps-item
                %p Вы оставляете заявку на сайте
              .col-md-3.steps-item
                %p Мы связываемся с вами
              .col-md-3.steps-item
                %p Отправлем вашу посылку
              .col-md-3.steps-item
                %p Вы оплачиваете при получении
            

    %section.photo
      .container-fluid
        .row
          .col-md-12.section-title
            %h3 Присоединяйся к нам!
            %p &nbsp;
        .row.photo-row
          / .col-md-3
          /   .photo-box
          /     .photo-content{ :style => 'background-image: url("img/photo/user1.jpg")' }



        .row
          .col-md-12.photo-btn
            %a.btn.btn-lg.btn-border.btn-border-red.btn-border-red-full#btn-more-photo{ :href => '#', :title => '' } Ещё фото



    %section.counters
      .container

        .row
          .col-md-2.counters-box
            .counters-item
              %h4 2033
              %p участников
          .col-md-2.counters-box
            .counters-item
              %h4 2033
              %p участников
          .col-md-2.counters-box
            .counters-item
              %h4 2033
              %p участников
          .col-md-2.counters-box
            .counters-item
              %h4 2033
              %p участников
          .col-md-2.counters-box
            .counters-item
              %h4 2033
              %p участников
          .col-md-2.counters-box
            .counters-item
              %h4 2033
              %p участников


    %section.qw
      .container-fluid
        .row
          .col-md-12.section-title
            %h3 Остались вопросы?
            %p Задайте их нашему менеджеру
        .row
          .col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
            %form
              .form-group
                %input#exampleInputEmail1.form-control{:placeholder => "Имя", :type => "text"}
              .form-group
                %input#exampleInputPassword1.form-control{:placeholder => "Телефон", :type => "text"}
              .form-group
                %textarea.form-control{:rows => "3", :placeholder => "Вопрос"}

              %button.btn.btn-lg.btn-border.btn-border-red.btn-border-red-full{:type => "submit"} Отправить!


    / Root element of PhotoSwipe. Must have class pswp.
    .pswp{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      /
        Background of PhotoSwipe.
        It's a separate element as animating opacity is faster than rgba().
      .pswp__bg
      / Slides wrapper with overflow:hidden.
      .pswp__scroll-wrap
        /
          Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on.
        .pswp__container
          .pswp__item
          .pswp__item
          .pswp__item
        / Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
        .pswp__ui.pswp__ui--hidden
          .pswp__top-bar
            / Controls are self-explanatory. Order can be changed.
            .pswp__counter
            %button.pswp__button.pswp__button--close{:title => "Close (Esc)"}
            %button.pswp__button.pswp__button--share{:title => "Share"}
            %button.pswp__button.pswp__button--fs{:title => "Toggle fullscreen"}
            %button.pswp__button.pswp__button--zoom{:title => "Zoom in/out"}
            / Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
            / element will get class pswp__preloader--active when preloader is running
            .pswp__preloader
              .pswp__preloader__icn
                .pswp__preloader__cut
                  .pswp__preloader__donut
          .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
            .pswp__share-tooltip
          %button.pswp__button.pswp__button--arrow--left{:title => "Previous (arrow left)"}
          %button.pswp__button.pswp__button--arrow--right{:title => "Next (arrow right)"}
          .pswp__caption
            .pswp__caption__center




    %script{:src => "js/main.js"}    

    / http://ru.aliexpress.com/item/Wholesale-Lot-Mens-Golden-Chinese-Power-Dragon-Magnetic-Energy-Stainless-Steel-Bracelet-4330-Free-Shipping/1941756059.html?spm=2114.03020208.3.163.IyG6db&ws_ab_test=201407_5,201444_6,201409_4

    / http://ru.aliexpress.com/item/Power-Ionics-3000ions-Sports-Waterproof-Titanium-Bracelet-Band-Improve-Sleeping/32282617300.html
    / http://ru.aliexpress.com/item/P033-Noproblem-Ion-Balance-magnetic-energy-titanium-tourmaline-fashion-health-sport-bracelet/1657955520.html
    / http://ru.aliexpress.com/item/10mm-Natural-Orange-Red-Agate-Sacral-Chakra-stones-Bracelet-Women-or-girls-Jewelry-Beautiful-Gift-B44/1576036320.html

    / http://ru.aliexpress.com/item/free-shipping-black-colour-silicone-wristband-4-in-1-bio-elements-energy-stainless-steel-magnetic-bracelet/2042422036.html?spm=2114.03020208.3.95.Qeb915&ws_ab_test=201407_5,201444_6,201409_4

    / http://ru.aliexpress.com/item/Fashion-Jewelry-Magnetic-316L-Stainless-Steel-Bracelet-For-Men-With-FIR-Negative-Ion-Germanium-8-5/1206262872.html?spm=2114.03020208.3.225.Qeb915&ws_ab_test=201407_5,201444_6,201409_4 video

    / http://ru.aliexpress.com/item/Men-Women-s-Germanium-Titanium-Steel-Bracelet-316L-Power-Bracelet-Energe-Bangle-Birthday-Friendship-Sport-Gift/1779183084.html