$font-family-base = 'Roboto', serif


$navbar-margin-bottom = 0




$input-border-radius = 0
$input-border-radius-large = 0

$btn-border-radius-small = 0
$btn-border-radius-small = 0
$btn-border-radius-large = 0

$padding-large-vertical = .9rem 
$padding-large-horizontal = 2.4rem

$input-border-focus = #F0C808
$padding-base-vertical = 10px 
$padding-base-horizontal = 16px
$input-height-base = 46px